__pycache__
.idea/
.cache
.hypothesis/
*.config
*.debug
*.spec
/dist/
/build/
coverage.xml
/test/test_files/*_EMFT.miz
htmlcov
*.egg-info/
/doc/html/
.pylint.d/
/~/
*.puml
!/epab/vendor/**
appveyor.yml
artifacts/
/.pytest_cache/
/doitall.cmd
test.yml
.coverage*
.mypy_cache
.venv
.eggs
pyproject.toml.example
