include AUTHORS
include LICENSE
include MANIFEST.in
include epab.yml
include *.rst
include
graft epab
graft test
graft doc
global-exclude __pycache__
global-exclude *.py[co]
global-exclude html-covinclude
global-exclude .hypothesis
