[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

click = "*"
pyyaml = "*"
versioneer = "*"
semver = "*"
wheel = "*"
twine = "*"
"autopep8" = "*"
pylint = "*"
isort = "*"
safety = "*"
"flake8" = "*"
coverage = "*"
hypothesis = "*"
pytest-cache = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-pycharm = "*"
pytest = "*"
faker = "*"


[dev-packages]

"e1839a8" = {path = ".", editable = true}
