[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

click = "*"
pyyaml = "*"
semver = "*"
wheel = "*"
twine = "*"
"autopep8" = "*"
pylint = "*"
isort = "*"
safety = "*"
"flake8" = "*"
coverage = "*"
hypothesis = "*"
pytest-cache = "*"
pytest-cov = "*"
pytest-pycharm = "*"
pytest = "*"
gitchangelog = "*"
mimesis = "*"
gitpython = "*"
mockito = "*"
"delegator.py" = "*"
setuptools_scm = "*"
